@* @page "/WhyKatthe"
@page "/Why"
 Mention page route only on client Project/final usage only, not on RCL *@

@* @rendermode InteractiveWebAssembly *@
@* Mention render mode Client Project only,not on RCL *@

<MudContainer>
    @*<MudAppBar Fixed="true">
    <BrandLogo WidthInPx="36" HeightInPx="30" />
    <MudText Typo="Typo.h6">Why KATTHE ಕತ್ತೆ DONKEY</MudText>
    <MudToolbarTitle>: Software with a Cause</MudToolbarTitle>
    </MudAppBar>*@
    <MudSpacer />
    <MudStack Row=true>
        <MudItem xs="9" md="9">
            <h1>Why KATTHE ಕತ್ತೆ?</h1>
            <h4>A Kannada Word</h4>
            <h4>Donkey in English</h4>
        </MudItem>
        <MudItem xs="3" md="3">
            <BrandLogo WidthInPercent="100%" />
        </MudItem>
    </MudStack>

    <MudLink Href="/AboutUs" Color="Color.Primary"><b>About Katthe Projects?</b></MudLink>
    <MudExpansionPanels MultiExpansion="true">
        <p>Because it embodies the spirit of our company. Donkeys are known for their quality:</p>
        <MudExpansionPanel Icon="@Icons.Material.Filled.Diversity1" Text="Prompt, Strength & Perseverance" Style="background-color: lightblue">
            <MudText>Tackle complex software challenges with unwavering dedication</MudText>
        </MudExpansionPanel>

        <MudExpansionPanel Icon="@Icons.Material.Outlined.Construction" Text="Determination & Reliability" Style="background-color: lightgreen;">
            <MudText>Deliver reliable software solutions you can count on</MudText>
        </MudExpansionPanel>

        <MudExpansionPanel Icon="@Icons.Material.Outlined.Rocket" Text="Stubbornness for Good" Style="background-color: lightcyan">
            <MudText>Persist in making a positive impact through our work</MudText>
        </MudExpansionPanel>

        <MudExpansionPanel Icon="@Icons.Material.Filled.DeviceUnknown" Text="Unexpected Power" Style="background-color: lightblue">
            <MudText>Surprisingly quick and outmaneuvering challenges with powerful kicks</MudText>
        </MudExpansionPanel>
        <MudExpansionPanel Icon="@Icons.Material.Outlined.Handshake" Text="Friendly and Approachable" Style="background-color:  burlywood ">
            <MudText>Welcoming and collaborative experience</MudText>
        </MudExpansionPanel>

        <p>Just like a donkey, we may not be the first animal you think of when it comes to cutting-edge technology or social awareness. But we believe that our unexpected strength and determination allow us to achieve great things. We are a friendly and approachable team, and we're here to help you succeed with your software needs while making a positive difference in the world.</p>

    </MudExpansionPanels>

</MudContainer>



